{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<title>AdminHub</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">AdminPanel</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="{% url 'homee' %}">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="{% url 'BranchListView' %}">

					<i class='bx bxs-store'></i>
					<span class="text">Branch Details</span>
				</a>
			</li>
			<li>
				<a href="{% url 'RestaurantListVieww' %}">
					<i class='bx bxs-spa'></i>
					<span class="text">Restaurant</span>
				</a>
			</li>
			<li>
				<a href="{% url 'CategoryListVieww' %}">
					<i class='bx bxs-food-menu'></i>
					<span class="text">Category</span>
				</a>
			</li>
			<li>
				<a href="{% url 'FoodItemListVieww' %}">
					<i class='bx bxs-hot'></i>

					<span class="text">Food Item</span>
				</a>
			</li>
            <li>
				<a href="{% url 'StatusListVieww' %}">
					<i class='bx bxs-hourglass'></i>
					<span class="text">Food status</span>
				</a>
			</li>
            <li>
				<a href="{% url 'OrderListVieww' %}">
					<i class='bx bxs-cart-add'></i>
					<span class="text">Orders</span>
				</a>
			</li>
            <li>
				<a href="{% url 'CustomerListVieww' %}">
					<i class='bx bxs-group' ></i>
					<span class="text">Customers</span>
				</a>
			</li> <li>
				<a href="{% url 'UserListVieww' %}">
					<i class='bx bxs-group' ></i>
					<span class="text">Users</span>
				</a>
			</li>
		
		</ul>
		<ul class="side-menu">
			<!-- <li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					
					<span class="text">Settings</span>
				

				</a>
			</li> -->
			<li>
				<a href="{% url 'changePassword' %}">
				
					<i class='bx bxs-key' ></i>
					<span class="text">ChangePassword</span>
				</a>
			</li>
			<li>
				<a href="{% url 'logout' %}" class="logout" onclick="confirmLogout()">
				
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<!-- <i class='bx bx-menu' ></i> -->
			<!-- <a href="#" class="nav-link">Categories</a> -->
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<!-- <a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a> -->
			<!-- <a href="#" class="profile">
				<img src="{% static 'img/people.png' %}">
				<div class="dropdown-menu">
					<a class="dropdown-item" href=""><i data-feather="user" class="mr-1"></i> Profile</a>
					<a class="dropdown-item" href=""><i data-feather="settings" class="mr-1"></i> Settings</a>
					
					
				</div>
			</a> -->
			<li class="nav-item dropdown has-arrow main-drop">
				<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
				<span class="profile">
				<img src="{% static 'img/people.png' %}" alt="">
				<span class="status online"></span>
				</span>
				<!-- <span>Kavin Hansen</span> -->
				</a>
				
				</li>
		</nav>
		<!-- NAVBAR -->

	
        {% block content %}

        {% endblock %}

		
			
	

	<script src="{% static 'script.js' %}"></script>
	<script>
		function confirmLogout() {
			var confirmLogout = confirm("Are you sure you want to logout?");
			if (confirmLogout) {
				window.location.href = "{% url 'logout' %}";
			}
		}
	</script>
</body>
</html>